<%= form_for @profile do |f| %>
	<% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <h3><%#= f.label :name %></h3> -->
  <%#= f.text_field :name %>

  <h3><%= f.label :bio %></h3>
  <%= f.text_area :bio %>

  <h3><i class="fa fa-sitemap" style="color: $green;"></i> <%= f.label :website %></h3>
  <%= f.text_field :website %>
  
  <h3><i class="fa fa-facebook" style="color: $green;"></i> <%= f.label :facebook %></h3>
  <%= f.text_field :facebook %>

  <h3><i class="fa fa-twitter" style="color: $green;"></i> <%= f.label :twitter %></h3>
  <%= f.text_field :twitter %>

  <h3><i class="fa fa-linkedin" style="color: $green;"></i> <%= f.label :linkedin %></h3>
  <%= f.text_field :linkedin %>
  <br>
  <br>
  <%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>

<% end %>
  
