<%= form_for @profile do |f| %>
	<% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.label :name %></h3>
  <%= f.text_field :name %>

  <h3><%= f.label :bio %></h3>
  <%= f.text_area :bio %>

  <h3><%= f.label :website %></h3>
  <%= f.text_field :website %>
  
  <h3><%= f.label :facebook %></h3>
  <%= f.text_field :facebook %>

  <h3><%= f.label :twitter %></h3>
  <%= f.text_field :twitter %>

  <br>
  <%= f.submit %>

<% end %>
  
