<%= form_for @comment, remote: true do |f| %>
	<% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style="padding-top: 20px;">
  <%= f.text_area :comment, placeholder: "Add a new comment." %>
  
  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
