<div class="container main-container">
  <%= @user.nickname %><br>
  <%= @user.profile.name %><br>
  <%= image_tag @user.profile.image %><br>
  <%= link_to 'GitHub Profile', @user.profile.github %><br>
  <%= link_to @user.profile.website, @user.profile.website %><br>

  <% @repo_hash.each do |repo| %>
  	<p><%= link_to repo[0], repo[1] %></p>
  <% end %>
</div>