<%= form_for @project do |f| %>
	<% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.label :name %></h3>
  <%= f.text_field :name %>

  <h3><%= f.label :description %></h3>
  <%= f.text_area :description, placeholder: "255 characters max" %>

	<h3><%= f.label :video %></h3>
  <%= f.text_field :video, placeholder: "Insert link to Vimeo video" %>

  <h3><%= f.label :repo %></h3>
  <%= f.text_field :repo, placeholder: "Insert link to the project repo" %>
  
  <br>
  <%= f.submit %>

<% end %>
  
