<%= form_for @project do |f| %>
	<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Step 1: Name your application</h3>
  <%= f.text_field :name, placeholder: 'Enter Cool App Name Here' %>

  <h3>Step 2: <span>Empower</span> developers</h3>
  <h4>Enter a mission statement or a simple goal for the application</h4>
  <%= f.text_area :description, placeholder: "255 Characters Max" %>

  <h3>Step 3: Give a <span>persuasive</span> pitch and attract a team</h3>
  <h4>Upload a <%= link_to "Vimeo", "https://www.vimeo.com", :target => '_blank' %> video to get your project featured.</h4>
  <%= f.text_field :video, placeholder: "Enter Vimeo Link" %>

  <h3>Step 4: Provide project details</h3>
  <h4>Tell developers more about the project and how to get involved.</h4>
  <%= f.text_area :fulldescription, placeholder: "Ex: About this project, key features, FAQ sections" %>

  <h3>Step 5: List language requirements</h3>
  <h4>What kind of developers are you looking for?</h4>
  <%= f.text_area :languages, placeholder: "Ex: Ruby on Rails, HTML/CSS, Javascript" %>

  <h3>Step 6: Link to your repo</h3>
  <h4>Get developers involved! Provide a Github repo link.</h4>
  <%= f.text_field :repo, placeholder: "Enter Github Repo Link" %>

  <h3>Step 7: Tag your project</h3>
  <h4>Make it easy for developers to search for your project.</h4>
  <%= f.text_field :tag_list, placeholder: "Separate Tags with Commas" %>
  
  <br>

  <h1><%= f.submit "Create My Project!", class: "btn btn-large btn-primary" %></h1>

<% end %>
  
