

<h1>Featured Projects</h1>
    <div class="row-fluid">
      <% @projects.limit(10).each do |project| %>
        <div class="span6 feature-box">
          <%= link_to (image_tag project.video_thumb, class: "feature-img"), project %>
          <h2><%= link_to (project.name), project %></h2>
          <h5>by <%= project.user.nickname %></h5>
          <p style="max-width: 280px;"><%= project.description.truncate(175, separator: ' ') %></p>
          <div class="bottom-feature-box">
          <% votes = project.get_upvotes.size - project.get_downvotes.size %>
          <p><%= votes %> 
          <% if votes >= 0 %>
          <i class="fa fa-thumbs-o-up"></i>
          <% else %>
          <i class="fa fa-thumbs-o-down"></i>
          <% end %>
          </p>
          <p>
          <%= project.followers.size %> Followers
          </p>
          <p>
          </div>
        </div>
      <% end %>
    </div>