<h1>All Projects</h1>

<% @projects.each do |project| %>
  <%#= link_to (image_tag art.artpic.url(:medium)), project %>
  <h2><%= link_to (project.name), project %></h2>

<!-- prints tags only if tags exist -->
<% if project.tag_list.size > 0 %>
  <p>Tags: <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %></p>
<% end %>
	
	<div class="btn-group">
		<%= link_to like_project_path(project), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-up"></span>
			Upvote
			<%= project.get_upvotes.size %>
		<% end %>
		<%= link_to dislike_project_path(project), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
			Downvote
			<%= project.get_downvotes.size %>
		<% end %>
	</div>
<% end %>