<h1><%= @project.name %></h1>

<h3><%= @project.description %></h3>

<p><%= link_to "Video Pitch", "http://#{@project.video}"%></p>

<p><%= link_to 'Project Repo', "http://#{@project.repo}" %></p>

<!-- prints tags only if tags exist -->
<% if @project.tag_list.size > 0 %>
  <p>Tags: <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %></p>
<% end %>
<% if current_user %>
<%= link_to "Follow", follow_project_path(@project)%>
<% end %>
<div class="btn-group">
		<%= link_to like_project_path(@project), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-up"></span>
			Upvote
			<%= @project.get_upvotes.size %>
		<% end %>
		<%= link_to dislike_project_path(@project), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
			Downvote
			<%= @project.get_downvotes.size %>
		<% end %>
	</div>

<br><%= twitter_button %>

<% @project.comments.order(created_at: :desc).each do |comment| %>
	<p>Posted by <%= comment.author %> at <%= time_ago_in_words(comment.created_at)%> ago</p>
	<p><%= comment.comment %></p>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Edit', edit_project_path(@project) %>