<h1><%= @project.name %></h1>

<h3><%= @project.description %></h3>

<%= link_to "Video Pitch", "http://#{@project.video}"%><br>

<%= link_to 'Project Repo', "http://#{@project.repo}" %><br>

<%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Edit', edit_project_path(@project) %>