<!DOCTYPE html>
<html>
<head>
  <title>Devnode</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	 <nav class="navbar navbar-default navbar-fixed-top" id="devnode-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to (image_tag "devnode_logo_sm.png", id: "logo-image"), root_path %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'FEATURED', featured_path %></li>
            <li><%= link_to 'EXPLORE', projects_path %></li>
            <li>
            	<%= form_tag(projects_path, :method => "get", class: "navbar-form" ) do %>
							  <p>
							    <i class="fa fa-search" style="margin-left: 10px; margin-right: 5px; font-size: 1.3em; color: grey;"></i><%= text_field_tag :q, params[:q], class: "span2", placeholder: "Search Projects" %>
							  </p>
							<% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.nickname %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'NEW PROJECT', new_project_path %></li>
                  <li><%= link_to 'MY PROFILE', user_path(current_user.id) %></li>
                  <li><%= link_to 'LOG OUT', logout_path, method: :delete %></li>
                </ul>
              </li>
		        <% else %>
		        <li><%= link_to '<i class="fa fa-github" style="font-size: 1.1em;"></i> GITHUB LOGIN'.html_safe, '/auth/github' %></li>
		        <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	
	  <% flash.each do |key, value| %>
	    <div id="flash-message" class="alert alert-<%= key %>">
	      <h3><%= value %></h3>
	    </div>
	  <% end %>
	 
	  <%= yield %>

  <footer>
    Copyright 2015 - DevNode
  </footer>

</body>

</html>
